@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tilt+Warp&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Tilt Warp', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}